src/main/resources/wsdl/esdp/service-api.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.9-11/20/2012 01:25 PM(lukas)-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.9-11/20/2012 01:25 PM(lukas)-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://api.web.esdp.eyeline.mobi/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://api.web.esdp.eyeline.mobi/" name="EsdpServiceManagerService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://api.web.esdp.eyeline.mobi/" schemaLocation="xsd-1.xsd" />
    </xsd:schema>
  </types>
  <message name="getService">
    <part name="parameters" element="tns:getService" />
  </message>
  <message name="getServiceResponse">
    <part name="parameters" element="tns:getServiceResponse" />
  </message>
  <message name="EsdpServiceException">
    <part name="fault" element="tns:EsdpServiceFault" />
  </message>
  <message name="createService">
    <part name="parameters" element="tns:createService" />
  </message>
  <message name="createServiceResponse">
    <part name="parameters" element="tns:createServiceResponse" />
  </message>
  <message name="updateService">
    <part name="parameters" element="tns:updateService" />
  </message>
  <message name="updateServiceResponse">
    <part name="parameters" element="tns:updateServiceResponse" />
  </message>
  <message name="activateCustomPackage">
    <part name="parameters" element="tns:activateCustomPackage" />
  </message>
  <message name="activateCustomPackageResponse">
    <part name="parameters" element="tns:activateCustomPackageResponse" />
  </message>
  <message name="deleteService">
    <part name="parameters" element="tns:deleteService" />
  </message>
  <message name="deleteServiceResponse">
    <part name="parameters" element="tns:deleteServiceResponse" />
  </message>
  <portType name="EsdpServiceManager">
    <operation name="getService">
      <input message="tns:getService" />
      <output message="tns:getServiceResponse" />
      <fault message="tns:EsdpServiceException" name="EsdpServiceException" />
    </operation>
    <operation name="createService">
      <input message="tns:createService" />
      <output message="tns:createServiceResponse" />
      <fault message="tns:EsdpServiceException" name="EsdpServiceException" />
    </operation>
    <operation name="updateService">
      <input message="tns:updateService" />
      <output message="tns:updateServiceResponse" />
      <fault message="tns:EsdpServiceException" name="EsdpServiceException" />
    </operation>
    <operation name="activateCustomPackage">
      <input message="tns:activateCustomPackage" />
      <output message="tns:activateCustomPackageResponse" />
      <fault message="tns:EsdpServiceException" name="EsdpServiceException" />
    </operation>
    <operation name="deleteService">
      <input message="tns:deleteService" />
      <output message="tns:deleteServiceResponse" />
      <fault message="tns:EsdpServiceException" name="EsdpServiceException" />
    </operation>
  </portType>
  <binding name="EsdpServiceManagerPortBinding" type="tns:EsdpServiceManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="getService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="EsdpServiceException">
        <soap:fault name="EsdpServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="createService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="EsdpServiceException">
        <soap:fault name="EsdpServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="updateService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="EsdpServiceException">
        <soap:fault name="EsdpServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="activateCustomPackage">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="EsdpServiceException">
        <soap:fault name="EsdpServiceException" use="literal" />
      </fault>
    </operation>
    <operation name="deleteService">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="EsdpServiceException">
        <soap:fault name="EsdpServiceException" use="literal" />
      </fault>
    </operation>
  </binding>
  <service name="EsdpServiceManagerService">
    <port name="EsdpServiceManagerPort" binding="tns:EsdpServiceManagerPortBinding">
      <soap:address location="http://localhost:80/console2/service-api" />
    </port>
  </service>
</definitions>