src/main/resources/wsdl/esdp/xsd-1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.9-11/20/2012 01:25 PM(lukas)-. --><xs:schema xmlns:tns="http://api.web.esdp.eyeline.mobi/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://api.web.esdp.eyeline.mobi/">

  <xs:element name="EsdpServiceFault" nillable="true" type="tns:faultInfo" />

  <xs:element name="activateCustomPackage" type="tns:activateCustomPackage" />

  <xs:element name="activateCustomPackageResponse" type="tns:activateCustomPackageResponse" />

  <xs:element name="createService" type="tns:createService" />

  <xs:element name="createServiceResponse" type="tns:createServiceResponse" />

  <xs:element name="deleteService" type="tns:deleteService" />

  <xs:element name="deleteServiceResponse" type="tns:deleteServiceResponse" />

  <xs:element name="getService" type="tns:getService" />

  <xs:element name="getServiceResponse" type="tns:getServiceResponse" />

  <xs:element name="updateService" type="tns:updateService" />

  <xs:element name="updateServiceResponse" type="tns:updateServiceResponse" />

  <xs:element name="xmlService" type="tns:service" />

  <xs:complexType name="activateCustomPackage">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0" />
      <xs:element name="arg1" type="xs:int" />
      <xs:element name="arg2" type="xs:int" />
      <xs:element name="arg3" type="xs:int" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="activateCustomPackageResponse">
    <xs:sequence />
  </xs:complexType>

  <xs:complexType name="faultInfo">
    <xs:sequence>
      <xs:element name="faultCode" type="xs:string" minOccurs="0" />
      <xs:element name="faultString" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateService">
    <xs:sequence>
      <xs:element name="arg0" type="tns:service" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="service">
    <xs:sequence>
      <xs:element name="apiKey" type="xs:string" minOccurs="0" />
      <xs:element name="expireDate" type="xs:dateTime" minOccurs="0" />
      <xs:element name="id" type="xs:string" minOccurs="0" />
      <xs:element name="properties">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="entry" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="key" minOccurs="0" type="xs:string" />
                  <xs:element name="value" minOccurs="0" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="providerId" type="xs:string" minOccurs="0" />
      <xs:element name="sessionsLimit" type="xs:int" />
      <xs:element name="smsLimit" type="xs:int" />
      <xs:element name="tag" type="xs:string" minOccurs="0" />
      <xs:element name="title" type="xs:string" minOccurs="0" />
      <xs:element name="ussdLimit" type="xs:int" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateServiceResponse">
    <xs:sequence />
  </xs:complexType>

  <xs:complexType name="deleteService">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="deleteServiceResponse">
    <xs:sequence />
  </xs:complexType>

  <xs:complexType name="createService">
    <xs:sequence>
      <xs:element name="arg0" type="tns:service" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createServiceResponse">
    <xs:sequence />
  </xs:complexType>

  <xs:complexType name="getService">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getServiceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:service" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>