src/main/resources/wsdl/madv/campaigns-api.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-b03-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.5-b03-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://mts-madv.eyeline.mobi" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="https://mts-madv.eyeline.mobi" name="CampaignsSoapImplService">
  <types>
    <xsd:schema>
      <xsd:import namespace="https://mts-madv.eyeline.mobi" schemaLocation="xsd-1.xsd" />
    </xsd:schema>
  </types>
  <message name="init">
    <part name="parameters" element="tns:init" />
  </message>
  <message name="initResponse">
    <part name="parameters" element="tns:initResponse" />
  </message>
  <message name="getDelivery">
    <part name="parameters" element="tns:getDelivery" />
  </message>
  <message name="getDeliveryResponse">
    <part name="parameters" element="tns:getDeliveryResponse" />
  </message>
  <message name="getCampaignStatus">
    <part name="parameters" element="tns:getCampaignStatus" />
  </message>
  <message name="getCampaignStatusResponse">
    <part name="parameters" element="tns:getCampaignStatusResponse" />
  </message>
  <message name="updateCampaign">
    <part name="parameters" element="tns:updateCampaign" />
  </message>
  <message name="updateCampaignResponse">
    <part name="parameters" element="tns:updateCampaignResponse" />
  </message>
  <message name="removeCampaign">
    <part name="parameters" element="tns:removeCampaign" />
  </message>
  <message name="removeCampaignResponse">
    <part name="parameters" element="tns:removeCampaignResponse" />
  </message>
  <message name="removeTextBanner">
    <part name="parameters" element="tns:removeTextBanner" />
  </message>
  <message name="removeTextBannerResponse">
    <part name="parameters" element="tns:removeTextBannerResponse" />
  </message>
  <message name="addTextDelivery">
    <part name="parameters" element="tns:addTextDelivery" />
  </message>
  <message name="addTextDeliveryResponse">
    <part name="parameters" element="tns:addTextDeliveryResponse" />
  </message>
  <message name="removeTextDelivery">
    <part name="parameters" element="tns:removeTextDelivery" />
  </message>
  <message name="removeTextDeliveryResponse">
    <part name="parameters" element="tns:removeTextDeliveryResponse" />
  </message>
  <message name="listDeliveries">
    <part name="parameters" element="tns:listDeliveries" />
  </message>
  <message name="listDeliveriesResponse">
    <part name="parameters" element="tns:listDeliveriesResponse" />
  </message>
  <message name="getFreeClickServiceShortcuts">
    <part name="parameters" element="tns:getFreeClickServiceShortcuts" />
  </message>
  <message name="getFreeClickServiceShortcutsResponse">
    <part name="parameters" element="tns:getFreeClickServiceShortcutsResponse" />
  </message>
  <message name="getMessageViewCounterStat">
    <part name="parameters" element="tns:getMessageViewCounterStat" />
  </message>
  <message name="getMessageViewCounterStatResponse">
    <part name="parameters" element="tns:getMessageViewCounterStatResponse" />
  </message>
  <message name="listCampaigns">
    <part name="parameters" element="tns:listCampaigns" />
  </message>
  <message name="listCampaignsResponse">
    <part name="parameters" element="tns:listCampaignsResponse" />
  </message>
  <message name="addCampaign">
    <part name="parameters" element="tns:addCampaign" />
  </message>
  <message name="addCampaignResponse">
    <part name="parameters" element="tns:addCampaignResponse" />
  </message>
  <message name="addTextBanner">
    <part name="parameters" element="tns:addTextBanner" />
  </message>
  <message name="addTextBannerResponse">
    <part name="parameters" element="tns:addTextBannerResponse" />
  </message>
  <message name="getTextBanner">
    <part name="parameters" element="tns:getTextBanner" />
  </message>
  <message name="getTextBannerResponse">
    <part name="parameters" element="tns:getTextBannerResponse" />
  </message>
  <message name="listBanners">
    <part name="parameters" element="tns:listBanners" />
  </message>
  <message name="listBannersResponse">
    <part name="parameters" element="tns:listBannersResponse" />
  </message>
  <message name="startCampaign">
    <part name="parameters" element="tns:startCampaign" />
  </message>
  <message name="startCampaignResponse">
    <part name="parameters" element="tns:startCampaignResponse" />
  </message>
  <message name="pauseCampaign">
    <part name="parameters" element="tns:pauseCampaign" />
  </message>
  <message name="pauseCampaignResponse">
    <part name="parameters" element="tns:pauseCampaignResponse" />
  </message>
  <message name="stopCampaign">
    <part name="parameters" element="tns:stopCampaign" />
  </message>
  <message name="stopCampaignResponse">
    <part name="parameters" element="tns:stopCampaignResponse" />
  </message>
  <message name="getLandingConversionCounterStat">
    <part name="parameters" element="tns:getLandingConversionCounterStat" />
  </message>
  <message name="getLandingConversionCounterStatResponse">
    <part name="parameters" element="tns:getLandingConversionCounterStatResponse" />
  </message>
  <message name="getLandingPageClickCounterStat">
    <part name="parameters" element="tns:getLandingPageClickCounterStat" />
  </message>
  <message name="getLandingPageClickCounterStatResponse">
    <part name="parameters" element="tns:getLandingPageClickCounterStatResponse" />
  </message>
  <portType name="CampaignsSoapImpl">
    <operation name="init">
      <input message="tns:init" />
      <output message="tns:initResponse" />
    </operation>
    <operation name="getDelivery">
      <input message="tns:getDelivery" />
      <output message="tns:getDeliveryResponse" />
    </operation>
    <operation name="getCampaignStatus">
      <input message="tns:getCampaignStatus" />
      <output message="tns:getCampaignStatusResponse" />
    </operation>
    <operation name="updateCampaign">
      <input message="tns:updateCampaign" />
      <output message="tns:updateCampaignResponse" />
    </operation>
    <operation name="removeCampaign">
      <input message="tns:removeCampaign" />
      <output message="tns:removeCampaignResponse" />
    </operation>
    <operation name="removeTextBanner">
      <input message="tns:removeTextBanner" />
      <output message="tns:removeTextBannerResponse" />
    </operation>
    <operation name="addTextDelivery">
      <input message="tns:addTextDelivery" />
      <output message="tns:addTextDeliveryResponse" />
    </operation>
    <operation name="removeTextDelivery">
      <input message="tns:removeTextDelivery" />
      <output message="tns:removeTextDeliveryResponse" />
    </operation>
    <operation name="listDeliveries">
      <input message="tns:listDeliveries" />
      <output message="tns:listDeliveriesResponse" />
    </operation>
    <operation name="getFreeClickServiceShortcuts">
      <input message="tns:getFreeClickServiceShortcuts" />
      <output message="tns:getFreeClickServiceShortcutsResponse" />
    </operation>
    <operation name="getMessageViewCounterStat">
      <input message="tns:getMessageViewCounterStat" />
      <output message="tns:getMessageViewCounterStatResponse" />
    </operation>
    <operation name="listCampaigns">
      <input message="tns:listCampaigns" />
      <output message="tns:listCampaignsResponse" />
    </operation>
    <operation name="addCampaign">
      <input message="tns:addCampaign" />
      <output message="tns:addCampaignResponse" />
    </operation>
    <operation name="addTextBanner">
      <input message="tns:addTextBanner" />
      <output message="tns:addTextBannerResponse" />
    </operation>
    <operation name="getTextBanner">
      <input message="tns:getTextBanner" />
      <output message="tns:getTextBannerResponse" />
    </operation>
    <operation name="listBanners">
      <input message="tns:listBanners" />
      <output message="tns:listBannersResponse" />
    </operation>
    <operation name="startCampaign">
      <input message="tns:startCampaign" />
      <output message="tns:startCampaignResponse" />
    </operation>
    <operation name="pauseCampaign">
      <input message="tns:pauseCampaign" />
      <output message="tns:pauseCampaignResponse" />
    </operation>
    <operation name="stopCampaign">
      <input message="tns:stopCampaign" />
      <output message="tns:stopCampaignResponse" />
    </operation>
    <operation name="getLandingConversionCounterStat">
      <input message="tns:getLandingConversionCounterStat" />
      <output message="tns:getLandingConversionCounterStatResponse" />
    </operation>
    <operation name="getLandingPageClickCounterStat">
      <input message="tns:getLandingPageClickCounterStat" />
      <output message="tns:getLandingPageClickCounterStatResponse" />
    </operation>
  </portType>
  <binding name="CampaignsSoapImplPortBinding" type="tns:CampaignsSoapImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="init">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getDelivery">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getCampaignStatus">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="updateCampaign">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="removeCampaign">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="removeTextBanner">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addTextDelivery">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="removeTextDelivery">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listDeliveries">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getFreeClickServiceShortcuts">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getMessageViewCounterStat">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listCampaigns">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addCampaign">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="addTextBanner">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getTextBanner">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listBanners">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="startCampaign">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="pauseCampaign">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="stopCampaign">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getLandingConversionCounterStat">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getLandingPageClickCounterStat">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CampaignsSoapImplService">
    <port name="CampaignsSoapImplPort" binding="tns:CampaignsSoapImplPortBinding">
      <soap:address location="http://localhost:9080/services/campaigns" />
    </port>
  </service>
</definitions>